/* FONDO GENERAL */
body{
    background: radial-gradient(circle, #0a0a0a, #000);
    font-family: Arial, Helvetica, sans-serif;
}

.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

/* FORMULARIO */
form{
    background: #1a1a1a;
    padding: 30px;
    border-radius: 15px;
    width: 320px;
    box-shadow: 0 0 25px rgba(0,0,0,0.8);
    transition: 0.3s;
}

form:hover{
    transform: scale(1.02);
}

/* TITULO */
form h2{
    text-align: center;
    margin-bottom: 20px;
    color: yellowgreen;
}

/* INPUTS */
form input{
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: none;
    border-radius: 8px;
    outline: none;
    background: #2a2a2a;
    color: white;
}


form button{
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: yellowgreen;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

form button:hover{
    background: yellow;
}


nav{
    background: black;
    padding: 15px;
    text-align: center;
}

nav ul{
    list-style: none;
}

nav li{
    display: inline-block;
    margin: 0 20px;
}

nav a{
    color: yellowgreen;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover{
    color: yellow;
}
body{
    background: radial-gradient(circle at top, #111, #000);
}
