*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(9,9,9);
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    background-color: black;
    text-align: center;
    padding: 15px;
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline-block;
    margin: 0 20px;
}

li a{
    color: yellowgreen;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
}

li a:hover{
    color: yellow;
    text-shadow: 0 0 10px yellowgreen;
}

.titulo{
    color: yellowgreen;
    text-align: center;
    margin-top: 20px;
}

.subtitulo{
    color: yellow;
    text-align: center;
    margin: 20px 0;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 30px;
    margin: 2rem 1rem;
}

.img{
    width: 200px;
    display: flex;
    justify-content: center;
}

.img img{
    width: 100%;
    height: auto;
    border-radius: 15px;
    transition: 0.3s;
}

.img img:hover{
    transform: scale(1.1);
    cursor: pointer;
    filter: opacity(0.6);
}