*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}
nav{
display: flex;
padding: 50px 50px;
background-color: rgb(38, 172, 141);
justify-content: center;
}

nav ul{
display:flex;
gap:20px;
list-style:none;
color: yellow;
text-align: center;
}

.tec{
    color: rgb(170, 255, 0);
    
}
img{
    margin-bottom: auto;
    width: 200px;
    
}
