
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(53, 23, 63);
    font-family: Arial, sans-serif;
    color: white;
}

.contenedor {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}


nav {
    display: flex;
    justify-content: center;
    background-color: rgb(38, 172, 141);
    padding: 20px;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

nav a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

/* TITULOS */
h1, h2, h3, h4, h5 {
    color: chartreuse;
    text-align: center;
    margin: 20px 0;
}


p {
    text-align: justify;
    line-height: 1.6;
    margin-bottom: 15px;
}

ul {
    margin-bottom: 20px;
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
    font-size: 18px;
}

